@model IEnumerable<fantasydg.Models.RoundScore>

<div class="table-scroll-container">
    <div class="table-scroll-top"></div>
        <table class="stats-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Total</th>
                    <th>Rd.</th>
                    <th>Birdie-</th>
                    <th>Eagle-</th>
                    <th>Bogey+</th>
                    <th>Dbl Bogey+</th>
                    <th>Fairway</th>
                    <th>C1 Reg</th>
                    <th>C2 Reg</th>
                    <th>Parked</th>
                    <th>Scramble</th>
                    <th>Out of Bounds</th>
                    <th>C1x Putting</th>
                    <th>C2 Putting</th>
                    <th>Total Putt</th>
                    <th>Long Throw-In</th>
                    <th>Avg. Putt</th>
                    <th>Strokes Gained</th>
                    <th>SG Putting</th>
                    <th>SG Tee→Grn</th>
                    <th>SG C1x</th>
                    <th>SG C2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rs in Model)
                {
                    <tr>
                        <td>@rs.RunningPlace</td>
                        <td>@rs.Player.Name</td>
                        <td>@rs.RunningToPar</td>
                        <td>@rs.RoundToPar</td>
                        <td>@rs.BirdieMinus%</td>
                        <td>@rs.EagleMinus%</td>
                        <td>@rs.BogeyPlus%</td>
                        <td>@rs.DoubleBogeyPlus%</td>
                        <td>@rs.Fairway%</td>
                        <td>@rs.C1InReg%</td>
                        <td>@rs.C2InReg%</td>
                        <td>@rs.Parked%</td>
                        <td>@rs.Scramble%</td>
                        <td>@rs.ObRate%</td>
                        <td>@rs.C1xPutting%</td>
                        <td>@rs.C2Putting%</td>
                        <td>@rs.TotalPuttDistance</td>
                        <td>@rs.LongThrowIn</td>
                        <td>@rs.AvgPuttDistance</td>
                        <td>@rs.StrokesGainedTotal</td>
                        <td>@rs.StrokesGainedPutting</td>
                        <td>@rs.StrokesGainedTeeToGreen</td>
                        <td>@rs.StrokesGainedC1xPutting</td>
                        <td>@rs.StrokesGainedC2Putting</td>
                    </tr>
                }
            </tbody>
        </table>
    <div class="table-scroll-bottom"></div>
</div>